/* Header
--------------------------------------------------------------*/
.l-header {
  padding: 20px;
  background: rebeccapurple;
  margin-bottom: 1.45rem;
}

.l-header__inner {
  min-width: 1400px;
}
