@import './src/template/base.scss';

.post_kv {
  margin: 70px 0 30px;
  padding: 20px;
  color: #fff;
  position: relative;
  background: #3659a7;

  @include sp-screen {
    margin: 70px 0 15px;
  }
}

.post_kv_heading {
  font-size: 3.2rem;
  font-weight: bold;

  @include sp-screen {
    font-size: 2.8rem;
  }
}

.post_kv_date {
  font-size: 1.2rem;
}

.post_heading {
  margin-top: 50px;
}

.post_container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;

  @include sp-screen {
    width: 100%;
    padding: 0 5%;
  }
}

.post_content {
  padding: 0 15px;

  @include sp-screen {
    padding: 0;
  }

  p:not(:first-of-type) {
    margin-top: 1.5em;
  }

  img {
    max-width: 100%;
    margin: 1.5em auto 0;
    display: block;

    @include sp-screen {
      width: 100%;
    }
  }
}
