@import './src/css/mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Ranchers&display=swap');

/* variable
--------------------------------------------------------------*/
$base_background: #fff;
$base_font: 'Noto Sans JP', '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
$base_width: 1000px;
$base_font_size_pc: 1.6rem;
$base_font_size_sp: 1.4rem;
$base_line_height_pc: 1.7;
$base_line_height_sp: 1.7;

$font_en: 'Ranchers', cursive;

$font_color: #000;
$link_color: #0080ae;
$link_color_hover: #00b2c4;
$accent_color: #0080ae;
$hover_opacity: 0.7;


/* display
--------------------------------------------------------------*/
@include pc-screen {
  .sp {
    display: none;
  }
}
@include sp-screen {
  .pc {
    display: none;
  }
}

/* reset
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $base_background;
  min-width: $base_width;
  font-family: $base_font;
  font-size: $base_font_size_pc;
  line-height: $base_line_height_pc;
  color: $font_color;
  position: relative;
  font-feature-settings: 'palt';
  @include sp-screen {
    min-width: 0;
    font-size: $base_font_size_sp;
    line-height: $base_line_height_sp;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  body {
    font-feature-settings: 'pkna';
  }
}

@include sp-screen {
  img {
    width: 100%;
    height: auto;
  }
}

/* Link
--------------------------------------------------------------*/
a {
  color: $link_color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $link_color_hover;
  }

  &[href^='mailto:'] {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

/* テキスト選択
--------------------------------------------------------------*/
::selection {
  color: #fff;
  background: $accent_color;
}

::-moz-selection {
  color: #fff;
  background: $accent_color;
}
