@import './src/css/base.scss';

.header {
  width: 100%;
  background: $accent_color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header_inner {
  width: $base_width;
  padding: 20px;
  margin: 0 auto;

  @include sp-screen {
    width: 100%;
  }
}

.header_heading a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.8rem;
}
