@import './src/css/base.scss';

.post_content {
  letter-spacing: 0.02em;

  h2,h3 {
    font-weight: bold;
    margin: 1.5em 0 1em;
  }

  h2 {
    padding: 0.25em 0.25em 0.25em 1em;
    font-size: 2.8rem;
    background: #eefffe;
    position: relative;

    &:before {
      content: "";
      width: 0.25em;
      height: 100%;
      background: $accent_color;
      position: absolute;
      top: 0;
      left: 0;
    }

    @include sp-screen {
      font-size: 2.4rem;
    }
  }

  h3 {
    padding-left: 1em;
    font-size: 2.4rem;
    position: relative;

    &:before {
      content: "";
      width: 0.25em;
      height: 100%;
      background: $accent_color;
      position: absolute;
      top: 0;
      left: 0;
    }

    @include sp-screen {
      font-size: 2rem;
    }
  }

  p {
    &:not(:first-of-type) {
      margin-top: 1.5em;
    }
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  pre {
    margin-top: 1.5em;
    padding: 1em;
    background: #cae2e0;
    border-radius: 5px;
  }

  em {
    font-weight: bold;
  }

  figcaption {
    margin-top: 0.5em;
    font-size: 1.4rem;
    color: #7a7a7a;
  }
}

.post_kv {
  margin-bottom: 30px;
  padding: 20px 15px;
  color: #fff;
  background: $accent_color;

  &_title {
    font-size: 3.2rem;
    font-weight: bold;
  }

  &_date {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
  }

  &_desc {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

.post_nav {
  margin-top: 80px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: solid 1px #cae2e0;
}
